{% extends "layout.html"%}
    {% block container %}
    {% import "_macros.html" as macro %}

    <form action="" method="POST" novalidate>
        {{macro.camposNuevos(form.matricula)}}
        {{macro.camposNuevos(form.nombre)}}
        {{macro.camposNuevos(form.apellido)}}
        {{macro.camposNuevos(form.correo)}}
        
        <input type="submit" value="Guardar" class="btn btn-primary">

    </form>

    <h2>matricula: {{matri}}</h2>
    <h2>Nombre: {{nombre}}</h2>
    <h2>Apellido: {{apellido}}</h2>
    <h2>Correo: {{email}}</h2>


{% endblock %}